.typing-animation {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #000;
  animation: typing 1s steps(10), blink .5s step-end infinite alternate;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}
